@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    this is a comment
*@
@{
        ViewData ["title"] = "movie list";
}

<h2>Index</h2>
<p>hello form our View Template</p>
